# Exercises for day 1b

You will be working on a series of exercises for the material covered in lecture 1b. As a reminder, we discussed strings, booleans, types, and we briefly covered variables. Don't worry if variables are confusing - we will cover them in detail tomorrow.

The first set of exercises will focus on how to use Python/Jupyter as a calculator.

The following will be useful:
- Jupyter consists of a series of cells
- Use shift + enter to run a cell
- Remember the order of operations!
- Remember that types can change after an operation!

## Exercise 1

In this lecture, we covered what a _string_ is. You can think of a string as a series of characters. (Character means something like a letter, number or punctuation mark, for example.)

We'll start by defining some strings. Create the following strings in Jupyter:
- `Hello`
- `Addis Coder!`

Remember what the syntax for strings are!

Also compute the following:
- `type("Hello")`

## Exercise 2

We can also perform operations on strings. Compute the following using Jupyter:
- `"Hello" + "Addis Coder!"`
- `"Hello" + " Addis Coder!"`
- `"Hello " + "Addis Coder!"`

Add two of your own strings.

## Exercise 3

You can put all sorts of things within strings. This can be very confusing! Make sure you know what is inside a string vs not.

Compute the following using Jupyter:
- `"Hello + " + "Addis Coder!"`
- `"Confusing ^ * " + "string"`

What else can you put in strings? Define a few of your own

## Exercise 4

We can convert numbers to strings. Do you remember the syntax?

Convert the following to strings:
- 3 
- 3.1415
- 27891
- 8987321

## Exercise 5 (medium)

Strings and numbers are not the same _type_. However, they can be used together in certain operations, depending on the operation and ordering. This can be very confusing! 

Predict what will happen with the following, and check your answer using Jupyter:
- `"hello" + "3"`
- `"hello " + 3`
- `"hello" + str(3)`
- `"hello" * 3`
- `"hello " * 3`
- `3 * "hello"`

## Exercise 6

We also covered _booleans_. Compute the following using Jupyter:
- `type(True)`
- `type(False)`
- `type("True")`
- `type("False")`

## Exercise 7

It's very important that `True` and `False` are capitalized correctly. What happens if you run the following in Jupyter: 
- `true`
- `false`
- `True`
- `False`

## Exercise 8

We can compare items and the result of a comparison is a boolean. The first comparison operation we learned was `==`

Guess what the output will be for the following and check with Jupyter:
- `1 == 1`
- `1 == 2`
- `True == True`
- `True == False`
- `"hi" == "hi`
- `"hi" == "bye"`
- `"hi" == "Hi"`

## Exercise 9

There are some confusing ways to compare things in Python. 

Guess what the output will be for the following and check with Jupyter:
- `1 == True`
- `True == 1`
- `1 == "1"`
- `"1" == True`

## Exercise 10

We can also compare for inequality, less than and greater than.

Guess what the output will be for the following and check with Jupyter:
- `1 < 1`
- `1 > 1`
- `1 < 2`
- `1 <= 1`
- `1 <= 2`
- `2 >= 2`
- `1 != 1`
- `1 != 2`

## Exercise 11

This (sometimes) also works for other types than numbers, but is not always intuitive.

Guess what the output will be for the following and check with Jupyter:
- `"hello" < "bye"`
- `"hello" > "bye"`
- `"Hello" > "bye"`
- `False < True`
- `3 != "3"`
- `3 <= "3"`

## Exercise 12

There are also special operations between booleans. The first one we learned was `and`.

Guess what the output will be for the following and check with Jupyter:
- `True and True`
- `True and False`
- `False and True`
- `False and False`

## Exercise 13

The second operatetion between booleans is the `or` operation.

Guess what the output will be for the following and check with Jupyter:
- `True or True`
- `True or False`
- `False or True`
- `False or False`

## Exercise 14 (medium)

One very confusing thing about Python is how different types are converted to each other.

Guess what will happen with the following and check your answer with Jupyter:
- 3 + True
- True + 3
- True * 3
- 3 * True

## Exercise 15 (hard)

We briefly covered variables at the end of lecture. Don't worry if they were confusing: we will cover them in more detail tomorrow.

One very important detail: _programming variables_ are NOT THE SAME as _mathematical variables_.

Guess what will happen if you run the following code blocks and check your answer in Jupyter.

Code block 1:
```
x = 1
x
```

Code block 2:
```
x = 1
x = 2
x
```

Code block 3:
```
x = 1
y = x
y
```

Code block 4:
```
x = 1
y = x
x = 2
x
```

Code block 5:
```
x = 1
y = x
x = 2
y
```

# Supplementary exercises

If you've completed all of the exercises so far, congratulations! There are supplementary exercises you can do now. Ask a TA to get access to them.