# Welcome back

How was lab? Was anything confusing?

# Review

We covered:
- Variables
- Printing
- Comments
- Conditionals

In [2]:
x = 1
x = 2
x

2

In [3]:
x = 1
y = 2
z = x + y
z

3

In [4]:
x = 1
y = 2
z = x + y

In [5]:
print(x)
print(y)
print(z)

1
2
3

In [6]:
x = 2
x += 3
x

5

In [7]:
# This is a comment

In [8]:
x = 2
y = 3
z = x * y + x  # Comments can be inline with the code
z

8

In [9]:
# Jupyter remembers variables across cells
z

8

In [6]:
numeric_grade = 75

if numeric_grade > 90:
    letter_grade = 'A'
elif numeric_grade > 80:
    letter_grade = 'B'
elif numeric_grade > 70:
    numeric_grade = 'C'
elif numeric_grade > 60:
    numeric_grade = 'D'
else:
    numeric_grade = 'F'

numeric_grade

'C'

# Reminder: if you're confused, you can test in Jupyter!

In [10]:
# Things that were confusing from earlier today
str
int 
float
bool

# Lists

A list holds Python "things" _in order_. The syntax for list is to use `[thing0, thing1, thing2]`.

IMPORTANT: this is NOT THE SAME as `()`

In [4]:
# Basic list
x= [1,2,3,4,5,6,7,8,9,10]

pc= [""]
print(pc)

['hp', 'mac', 'lenove', 'dell']

In [25]:
# Lists can have repeated elements
[1, 2, 1]

[1, 2, 1]

In [13]:
# Lists can be short or long
[True]

[True]

In [14]:
[True, False, True, False, True, False]

[True, False, True, False, True, False]

In [15]:
# List can hold multiple "types" of things
[1, True, "hi"]

[1, True, 'hi']

In [16]:
# You can assign lists to variables
x = [1, 2]
x

[1, 2]

# Addition with lists

You can "add" two lists (this is called concatenation).

In [5]:
first=[1,2,3,4,5]
second=[6,7,8,9,10]
first+second

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
x = [1, 2]
y = [3, 4]
print(x)
print(y)

[1, 2]
[3, 4]

In [18]:
x + y

[1, 2, 3, 4]

In [6]:
[True, False] + [1, 0]

[True, False, 1, 0]

In [7]:
[1, 2] + [1]

[1, 2, 1]

In [24]:
[1, 2] + [1]

[1, 2, 1]

In [22]:
[1, 2] + "hi"

TypeError: can only concatenate list (not "str") to list

In [23]:
[1, 2] + True

TypeError: can only concatenate list (not "bool") to list

# Multiplication with lists

You can also multiply lists with integers

In [9]:
x=[1, 2 ,3] * 4
y=[1, 2 ,3]+[1, 2 ,3]+[1, 2 ,3]+[1, 2 ,3]

print(x)
print(y)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [10]:
[1, 2] * 1

[1, 2]

In [11]:
[1, 2] * 3
[1,2]+[1,2]+[1,2]

[]

In [13]:
["abebe" , "kebde" , "abcdbdb"] 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [12]:
[1, 2] * 0

[]

# Accessing elements of a list

You can access individual elements of a list using the following syntax

In [1]:
x=["a","b" , "c" ,"d" ,"e"]

'a'

In [32]:
x[1]

2

In [33]:
x[2]

3

In [34]:
x[10]

IndexError: list index out of range

In [36]:
x[1.2]

TypeError: list indices must be integers or slices, not float

In [37]:
x["1"]

TypeError: list indices must be integers or slices, not str

# Modifying lists

You can also change what is inside a list

In [32]:
o = ["a" ,"b" , "c" , "d"]

In [37]:
o[2]="z"
o

['a', 'b', 'z', 'd']

# Indexing with negative numbers

You can also index with negative numbers. They count from the back

In [3]:
x = [1, 2, 3, 4, 5, 6]

In [6]:
x[-5]

2

In [40]:
x[-2]

5

# Slices

You can also create lists by taking a sublist of an existing list. This is often called a slice

In [48]:
x = [1, 2, 3, 4, 5, 6]
x[6:0:-1]

[6, 5, 4, 3, 2]

In [11]:
x[0:]

[1, 2]

In [12]:
x[0:4]

[1, 2, 3, 4]

In [14]:
x[0:10]

[1, 2, 3, 4, 5, 6]

In [16]:
x[1:]

[2, 3, 4, 5, 6]

In [21]:
x = [1, 2, 3, 4, 5, 6]
x[-5: -2 ]

[2, 3, 4]

In [22]:
x[3:]

[4, 5, 6]

# Slicing with a step

You can also slice with a _step_. It specifies to take every nth element

In [38]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x[0:8:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 3, 5]

# Indexing and slicing strings

Similar to how you can index and slice lists, you can also index and slice strings

In [49]:
x = "Hello!"
x

'Hello!'

In [39]:
x[0]

1

In [51]:
x[-1]

'!'

In [52]:
x[0:5]

'Hello'

# Important note: you CANNOT modify strings

In [4]:
x = "hello"
x

'hello'

In [5]:
x[3] = "bye"

TypeError: 'str' object does not support item assignment

# Lengths

Lists and strings have _lengths_. We can determine the length of a list or string with `len` as follows:

In [42]:
x = [1, 2, 3,4]
len(x)

4

In [44]:
y = "AddisCoder X"
len(y)

12

# Dictionaries

Dictionaries also hold "things" in Python. However, every "thing" it holds is associated with a _key_. The "things" associated with the keys are called _values_.

A key can be any basic type (everything we've learned about so far except a list).

A value can be anything we've learned about so far.

The syntax for dictionaries can be a bit confusing. Let's walk through it

In [63]:
# This creates a dictionary
country_capitals = {
    "Ethiopia": "Addis Abada",
    "Canada": "Ottawa",
    "Iran": "Teheran",
    "Turkey": "Ankara"
}

In [64]:
# This accesses a dictionary
country_capitals["Ethiopia"]

'Addis Abada'

In [75]:
# Dictionaries can have keys of different types
dictionary = {
    2: "hi",
    True: "Addis Abada",
    "key": "value"
}

In [76]:
dictionary[2]

'hi'

In [67]:
dictionary[True]

'Addis Abada'

In [77]:
# Dictionaries can have values of different types
dictionary = {
    2: "value",
    True: False,
    "key": 2
}

In [78]:
# You must have the comma after items!
dictionary = {
    2: "value",
    True: False
    "key": 2
}

SyntaxError: invalid syntax (2313417585.py, line 5)

# Modifying dictionaries

In addition to declaring a dictionary, you can also modify a dictionary as follows

In [79]:
x = {
    2: 3,
    True: False,
    "key": "value"
}

In [80]:
x[2]

3

In [81]:
x[2] = "new value"

In [82]:
x[2]

'new value'

In [83]:
x

{2: 'new value', True: False, 'key': 'value'}

# Length of dictionaries

You can also compute the length of a dictionary in the same way

In [84]:
x = {
    2: 3,
    True: False,
    "key": "value"
}

In [85]:
len(x)

3

# Checking if a key is in a dictionary

There is a special Python keyword to check if a key is in a dictionary. It is the `in` keyword. You can use it as follows:

In [86]:
x = {
    2: 3,
    True: False,
    "key": "value"
}

In [87]:
2 in x

True

In [88]:
3 in x

False

# Advanced topics: motivation for while loops

Often times, we want to repeat a comptuation a number of times.

In [7]:
x = [32587, 18, 43, 985, 274398]
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])

32587
18
43
985
274398

# Advanced topic: while loops

We can do this repeated computation with while loops!

We'll start with some examples before defining the syntax

In [8]:
x = [32587, 18, 43, 985, 274398]


index = 0
while index < len(x):
    print(x[index])
    index += 1

32587
18
43
985
274398

# While loop syntax

The syntax for while loops is:
```python
while <condition>:
    <expression>
```

As with `if` statements, the `<condition>` can be anything that evaluates to a boolean. The `<expression>` can be complex.

# IMPORTANT: THE WHILE LOOP MUST TERMINATE

In [ ]:
# WARNING
# WARNING
# WARNING
# DO NOT RUN THIS

while True:
    print('hi')

In [ ]:
# WARNING
# WARNING
# WARNING
# DO NOT RUN THIS

num = 0
while num < 10:
    print(num)